@import '@fortawesome/fontawesome-free/css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/productive.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

/* Navigation link underline effect */
.nav-link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

/* Custom  CSS for the overlay and form animation */
.tasks-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tasks-form {
    animation: slideUp 0.5s ease-out forwards;
  }
  
  /* Animation for sliding up */
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .timer-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .timer-component h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .pomodoro-status {
    font-size: 1.125rem; /* 18px */
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .circular-progress {
    margin-bottom: 1.5rem;
  }
  
  .circular-progress svg {
    width: 8rem; /* 128px */
    height: 8rem; /* 128px */
  }
  
  .circular-progress circle {
    stroke: #dc2626; /* #red-500 */
  }
  
  .circular-progress text {
    fill: white /* #gray-700 */
  }
  
  .timer-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .timer-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem; /* Adjust icon size */
  }
  
  .timer-buttons button:hover {
    color: #2563eb; /* #blue-500 */
  }
  
  .timer-buttons button:active {
    color: #1d4ed8; /* #blue-700 */
  }
  
  .length-controls {
    display: flex;
    gap: 2rem;
  }
  
  .session-control,
  .break-control {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .session-control div,
  .break-control div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .session-control button,
  .break-control button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem; /* Adjust icon size */
  }
  
  .session-control button:hover,
  .break-control button:hover {
    color: #6b7280; /* #gray-500 */
  }
  
  .session-control button:active,
  .break-control button:active {
    color: #4b5563; /* #gray-700 */
  }
  


  